@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
.SearchForm{
  background-image: url("/src/images/Header.png");  
padding: 20px;
}
.brand{
    font-family: 'Playfair Display', serif;
}